header {
    background-color: bisque;
    color: black;
    height: 200px;
    width: 100%;
}
main {
    background-color: cyan;
    height: 600px;
    width: 100%;
}
footer {
    background-color: purple;
    height: 200px;
    width: 100vw;
}
