* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: lato;
}
header {
    background-color: black;
    color: white;
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    position:fixed;
}
#kanji-header {
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}
img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.link-style {
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.link-style:hover {
    color: rgba(255, 0, 0, 0.7)
}
h1 {
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 35px;
    padding-top: 250px;
    font-size: 60px;
}
.banner {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 650px;
    margin: 0;
    padding: 0;

}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box {
    color: darkslategrey;
    text-align: left;
    width: 50%;
    padding: 20px;
    line-height: 1.5;
    font-size: larger;
    font-weight: 300;
}
.text-box h2 {
    margin-bottom: 10px;
    font-weight: 400;
}
.text-box h3 {
    margin-bottom: 10px;
    font-weight: 400;
}
.text-box ul {
    list-style-type: disc;
    padding-left: 20px;
}
footer {
    background-color: white;
    color: darkslategrey;
    width: 100%;
    height: 200px;
    padding-top: 20px;
}
.center {
    text-align: center;
    margin: 1rem auto;
  }
